#player {
  background-color: white;
  background-image: url(images/cat.jpg);
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 0.25em;
}

#mouse {
  background-color: gray;
  background-image: url(images/mouse.jpg);
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 0.25em;
}

#game {
  background-color: #111;
  background-image: url(images/livingroom.jpg);
  border-style: solid;
  border-color: rgb(17, 0, 33);
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
}

#ending {
  color: white;
  background-color: rgba(0, 0, 0, 0.499);
  visibility: hidden;
}

body {
  background-color: aliceblue;
}

h1 {
  display: flexbox;
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
}

#instructions-panel {
  color: black;
  background-color: rgba(127, 255, 212, 0.389);
  position: absolute;
  width: 300px;
  border: solid black 0.5px;
  margin: 1em;
  padding: 1rem;
}

#container {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
}
